/*
Created by Vladislav Stebenev
*/

*{
	margin:0;
	padding:0;
}

/*debug*/
.out{
	outline:1px solid #ff0a0a;
}
/*end debug*/

body{
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-weight:bold;
}

h1{
	font-size:3.5rem;
}

a{
	color:#000;
}
a:hover{
	color: #000;
	text-decoration:none;
}

section{
	padding:50px;
}

img{
	margin:10px;
}

button,button:active,button:focus {
    outline: none;
}

header nav{
	background: #3A3A3A;
}

#topnav-mail{
	font-weight: bold;
}

header .navbar-nav{
	text-transform: uppercase;
}

.navbar-light .navbar-toggler-icon{
	background-image:url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

#someDescription-home{
	background-image: url("../images/Mask Group.png");
	min-height: 705px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#someDescription-home h1{
	padding-top: 5em;
	color:#fff;
	text-transform: uppercase;
}

#someDescription-home p{
	color:#fff;
	font-size:1.4rem;
}

#someDescription h1{
	padding-top: 2em;	
}

hr{
	width:375px;
	margin:10px auto;
	background-color:#FF0000;
	height:1px;
}

.simple{	
	background-image: url("../images/clean-white-polygon-backgrounds-9.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	min-height: 442px;
}

.about-logo img{
	margin:10px 0 25px 0;
}

.siteType{
	min-height: 434px;
	background-image: url("../images/clean-white-polygon-backgrounds-9.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	padding-top:50px;
	padding-bottom:50px;
}

.siteType h3{
	min-height: 66px;
}

.siteType p{
	font-size:24px;
}

.siteType .moreLinkBtn{
	padding: 14px 60px;
	background-color: #E5E5E5;
	display: inline-block;
	margin: 0 auto;
	border-bottom:1px solid #FF0000;
}

.moreLinkBtn:hover{
	background-color:#3A3A3A;
	color:#FFF;
	border-bottom:2px solid #FF0000;
}

.admixForm-control{
	background-color: #E3E3E3;
	border-radius: unset;
}

.admix-formBtn{
	background-color: #C4C4C4;
	color:#000000;
	border-color:#E3E3E3;
	border-radius:0;
}

.slider-item{
    height:250px;
    background:#b3b2b2;
}

.slider-item img{
	margin:0;
	width:100%;
	height:100%;
}

.slider-item .snapshot{
	height:75%;
}

.slider-item .work-label{
	border-left:2px solid red;	
	background-color: #3a3a3a;
	padding:2%;
	color:#fff;
	height: 25%;
}
.slider-item .work-label p{
	margin:0;
}


footer{
	padding:50px;
	background-color:#262626;
}

footer, footer a{
	color:#fff;
}

footer a:hover{
	color: #f00;
}

footer img{
	margin:10px 0;
}




/*End Home page*/
#someDescription {
    background-image: url(../images/landing-bg.png);
    min-height: 350px;
    background-size: cover;
}


.someDescription-textBlock{
	margin-left: 27em;
	margin-top: 3em;
}


#someDescription-landing{
	margin-top: 5.5em;
	background-image: url("../images/landingfon.jpg");
	min-height: 350px;
  	background-position: center top;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#someDescription-visitCard{
	margin-top: 5.5em;
	background-image: url("../images/vizitkafon.jpg");
	min-height: 350px;
  	background-position: center top;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#someDescription-corpSite{
	margin-top: 5.5em;
	background-image: url("../images/korpfon.jpg");
	min-height: 350px;
  	background-position: center top;
  	background-repeat: no-repeat;
  	background-size: cover;
}



#features{
	min-height: 300px;
}


.purpose{	
	background-image: url("../images/clean-white-polygon-backgrounds-9.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	padding:50px;
}



.purpose hr{
	width:135px;
}



.stage img{
	float:left;
}

.stage p{
	margin:0;
}

.stage .digit{
    color:#fff;
    font-size:4rem;
    font-weight:bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-right{
    padding-top: 7px;
}

.arrow-down{
	display:none;
}

#landing-advantages-list ul{
	padding:25px;
}

#landing-advantages-list li{
	list-style-type:none;
	margin:15px;
}

#landing-advantages-list .leftPart{
	text-align: right;
}
#landing-advantages-list .rightPart{
	border-left: 2px solid #dadada;
	text-align: left;
}

/*.leftPart && .rightPart будут использованы на сайт визитка*/
/* Оказалось, что подходит реализация для landing-page */
#сorp-site-advantages-list li{
    margin-bottom:15px;
}


.condition{
	background-image: url("../images/clean-white-polygon-backgrounds-9.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	padding: 3%;
}

.owl-carousel{
	max-width: 80%;
	margin: 10px auto;
}

#our-works .owl-nav span {
    font-size: 8rem;
     opacity:0.5; 
}
#our-works .owl-prev, #our-works .owl-next {
    position: absolute;
    top: 5%;
}

#our-works .owl-prev{
    left:-7%;
}

#our-works  .owl-nav button:hover{
	background:0 0;
	color: #3a3a3a;
}

#our-works .owl-next{
    right:-7%;
}


div.center_list{
  text-align: center;
}
div.center_list > ul {
  display: inline-block;
  text-align: left;
  max-width: 70% /* не обязательно */
}

@media screen and (max-width: 1024px){

	header nav{
		font-size:0.9rem;
	}
	
	.dropdown-item{
		font-size:0.9rem;
	}

	.arrow-down{
		display: inline;
	}

	.arrow-right{
		display:none;
	}


	.condition h2{
		font-size: 1.7rem;
	}
	.condition hr{
		width:245px;
	}


	.someDescription-textBlock{
		margin-left: 20em;		
	}
	.someDescription-textBlock hr{
		width: 250px;
	}

}

@media screen and (max-width: 768px){
	.navbar img{
		margin:0;
		height:30px;
	}


	h1{
		font-size: 2.5rem;
	}

	#someDescription-home h1{
		padding-top: 7em;	
	}

	#someDescription{
		min-height: 300px;
	}

	#someDescription h1{
		padding-top: 2em;
	}

	#someDescription-landing{
		margin-top: 3.7em;	
	}
	#someDescription-visitCard{
		margin-top: 3.7em;
	}

	#someDescription-corpSite{
		margin-top: 3.7em;
	}

	.someDescription-textBlock{
		margin-left: 13em;
	}

	.someDescription-textBlock hr{
		width: 200px;
	}

	#landing-advantages-list ul{
		padding:0;
		margin:0;
	}
	
	#landing-advantages-list li{
		margin:0 0 15px 0;
	}
	
	#landing-advantages-list .leftPart{
		text-align: center;
	}

	#landing-advantages-list .leftPart ul{
		margin-top: 15px;
	}

	#landing-advantages-list .rightPart{
		border-left: none;		
		text-align: center;
	}

}

@media screen and (max-width: 560px){

	#someDescription-landing{
		background-image: url(../images/landingfon-mobile.jpg);
		background-position: 37% top;
	}
	#someDescription-visitCard{
		background-image: url(../images/vizitkafon-mobile.jpg);
		background-position: 37% top;
	}
	#someDescription-corpSite{
		background-image: url(../images/korpfon-mobile.jpg);
		background-position: 37% top;
	}



	.someDescription-textBlock{
		margin-left: auto;
		margin-right:auto;
	}
}

@media screen and (min-width: 768px){	
	section p{
		margin-right:16%;
		margin-left:16%;
	}
}

@media screen and (max-width: 480px){
	hr{
		width:300px;
	}

	#someDescription-visitCard{
		background-position: 38% top;
	}
}


@media screen and (max-width: 425px){
	h1{
		font-size: 2rem;
	}

	#someDescription-home{
		min-height: 570px;
	}

	#someDescription h1 {
    	padding-top: 3em;
	}

	.someDescription-textBlock{
		margin-top: 5em;
	}
	
	section, footer{
		padding:25px;
	}

	#someDescription-visitCard{
		background-position: 39% top;
	}

	#someDescription-corpSite{		
		background-position: 38% top;
	}

	.condition h2{
		font-size: 1.5rem;
	}


}

@media screen and (max-width: 400px){	
	#topnav-mail{
		display: none;
	}

	hr{
		width:280px;
	}
}



@media screen and (max-width: 320px){
	hr{
		width:200px;
	}
	.condition hr{
		width:200px;
	}

	#someDescription-visitCard{
		background-position: 40% top;
	}

}


